In [1]:
# import libraries 
import requests
import pandas as pd
import numpy as np
import wget

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

print('Libraries imported.')

Libraries imported.

<B><B>----------------------------------------------------------------------------------------------------------------------</B></B>

## Part 1: Converting the data into a Pandas Dataframe

### Step 1: Import 'london_poverty_rate.csv' and 'london_geospatial_data.csv' into the notebook

In [2]:
poverty_data = pd.read_csv('london_poverty_rate.csv')
poverty_data

                  borough   poverty_rate
0                  Bromley            15
1     Richmond upon Thames            15
2                   Bexley            16
3           City of London            16
4                   Sutton            16
5                 Havering            17
6     Kingston upon Thames            18
7                   Merton            20
8                  Croydon            22
9               Hillingdon            22
10              Wandsworth            22
11                  Barnet            23
12                  Harrow            23
13                Hounslow            25
14               Redbridge            25
15               Greenwich            26
16                Lewisham            26
17                 Enfield            27
18    Barking and Dagenham            28
19  Kensington and Chelsea            28
20          Waltham Forest            28
21                  Ealing            29
22                 Lambeth            30
23             Westminster            30
24  Hammersmith and Fulham            31
25               Southwark            31
26                  Camden            32
27                   Brent            33
28                Haringey            34
29               Islington            34
30                 Hackney            36
31                  Newham            37
32           Tower Hamlets            39

In [3]:
geospatial_data = pd.read_csv('london_geospatial_data.csv')
geospatial_data

                  borough    latitude  longitude
0     Barking and Dagenham  51.546483    0.129350
1                   Barnet  51.625150   -0.152936
2                   Bexley  51.451902    0.117179
3                    Brent  51.567281   -0.271057
4                  Bromley  51.367971    0.070062
5                   Camden  51.551706   -0.158826
6           City of London  51.512344   -0.090985
7                  Croydon  51.367971   -0.070062
8                   Ealing  51.525026   -0.341500
9                  Enfield  51.662293   -0.118066
10               Greenwich  51.483462    0.058620
11                 Hackney  51.551795   -0.064644
12  Hammersmith and Fulham  51.499017   -0.229150
13                Haringey  51.590611   -0.110971
14                  Harrow  51.588141   -0.342274
15                Havering  51.577924    0.212083
16              Hillingdon  51.535183   -0.448138
17                Hounslow  51.482836   -0.388206
18               Islington  51.546506   -0.105806
19  Kensington and Chelsea  51.499081   -0.193825
20    Kingston upon Thames  51.378117   -0.292709
21                 Lambeth  51.457148   -0.123068
22                Lewisham  51.441458   -0.011701
23                  Merton  51.409774   -0.210809
24                  Newham  51.525516    0.035216
25               Redbridge  51.588610    0.082398
26    Richmond upon Thames  51.461305   -0.303771
27               Southwark  51.483448   -0.082088
28                  Sutton  51.357372   -0.175281
29           Tower Hamlets  51.520261   -0.029340
30          Waltham Forest  51.588638   -0.011763
31              Wandsworth  51.457072   -0.181782
32             Westminster  51.500175   -0.133233

### Step 2: Merge 'poverty_data' and 'geospatial_data' into 'london_data'
<B>Purpose:</B> the prupose of this step is to merge both dataframes so that we can visualise the poverty coverage in London